.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e293b);
}

.login-card{
    width:400px;
    background:#1e293b;
    padding:40px;
    border-radius:15px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.4);
    text-align:center;
}

.login-card h1{
    color:white;
    margin-bottom:10px;
}

.login-card p{
    color:#cbd5e1;
    margin-bottom:30px;
    font-size:14px;
}

.login-card input{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border:none;
    border-radius:8px;
    background:#334155;
    color:white;
    font-size:16px;
}

.login-card input::placeholder{
    color:#94a3b8;
}

.login-card button{
    width:100%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

.login-card button:hover{
    background:#1d4ed8;
}